
.block_red>p {
    background-color: red !important;
}

.block_green>p {
    background-color: green;
}

.manual_style {
    background-color: orange;
}

.manual_style>p {
    background-color: black;
}

